nav {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #937861;
}

.judul {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-nav{
    color: white;
}
.navbar-collapse ul{
    display: inline-flex;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item{
    color : white;
}

.judul-status{
    text-align: center;
}
.navbar-collapse ul li:hover .dropdown-menu{
    display: block;
    background-color: #937861;
    margin-top: 0px;
}
.dropdown-menu a{
    color: #d1cdce;
}
.dropdown-menu a:hover{
    color: white;
    background-color: #937861;
}